<div class="figureBox">
  {{#if hasContent}}
  <h1 class="mt-4">Letter {{letter}}</h1>

  {{#each resultOfLetter}}
  <ul>
    <li>
      <a href="/details/{{this.book_id}}">{{this.title}}</a>
    </li>
  </ul>
  {{/each}}

  {{#if firstPage}}
  <form method="GET" action="/results">
    <input type="hidden" name="letter" value="{{letter}}">
    <input type="hidden" name="offset" value={{ nextOffset }}>
    <button type="submit">Next</button>
  </form>

  {{else}}
  <form method="GET" action="/results">
    <input type="hidden" name="letter" value="{{letter}}">
    <input type="hidden" name="offset" value={{ prevOffset }}>
    <button type="submit">Previous</button>
  </form>

  <form method="GET" action="/results">
    <input type="hidden" name="letter" value="{{letter}}">
    <input type="hidden" name="offset" value={{ nextOffset }}>
    <button type="submit">Next</button>
  </form>
  {{/if}}

  {{else}}
  <h1 class="mt-3">Your selection produce no results</h1>
  {{/if}}

  <button class="btn btn-warning mt-4"><a href="/">Back to home</a></button>
</div>